/* Agregar estilos personalizados para los botones de talla */
.talla-button {
    color: #007bff; /* Color del texto del botón */
    background-color: #fff; /* Color del fondo del botón */
    border-color: #007bff; /* Color del borde del botón */
  }
  
  .talla-button.selected {
    color: #fff !important; /* Color del texto al estar seleccionado */
    background-color: #007bff !important; /* Color del fondo al estar seleccionado */
  }
  
  .talla-button.disabled {
    color: #6c757d; /* Color del texto al estar deshabilitado */
    background-color: #fff; /* Color del fondo al estar deshabilitado */
    border-color: #6c757d; /* Color del borde al estar deshabilitado */
  }
  