/* Ultra light */
@font-face {
  font-family: 'Baldimore';
  src: local('Baldimore Ultra Light'), url(./Fonts/HelveticaNeueLTStd-UltLt.otf) format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'Baldimore';
  src: local('Baldimore Ultra Light Condenced'), url(./Fonts/HelveticaNeueLTStd-UltLtCn.otf) format('opentype');
  font-weight: 100;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Baldimore';
  src: local('Baldimore Ultra Light Expanded'), url(./Fonts/HelveticaNeueLTStd-UltLtEx.otf) format('opentype');
  font-weight: 100;
  font-stretch: expanded;
}


/* Thin */
@font-face {
  font-family: 'Baldimore';
  src: local('Baldimore Thin'), url(./Fonts/HelveticaNeueLTStd-Th.otf) format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Baldimore';
  src: local('Baldimore Thin Condenced'), url(./Fonts/HelveticaNeueLTStd-ThCn.otf) format('opentype');
  font-weight: 200;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Baldimore';
  src: local('Baldimore Thin Expanded'), url(./Fonts/HelveticaNeueLTStd-ThEx.otf) format('opentype');
  font-weight: 200;
  font-stretch: expanded;
}

/* Light */
@font-face {
    font-family: 'Baldimore';
    src: local('Baldimore Light'), url(./Fonts/HelveticaNeueLTStd-Lt.otf) format('opentype');
    font-weight: 300;
  }

  @font-face {
    font-family: 'Baldimore';
    src: local('Baldimore Light Condenced'), url(./Fonts/HelveticaNeueLTStd-LtCn.otf) format('opentype');
    font-weight: 300;
    font-stretch: condensed;
  }
  
  @font-face {
    font-family: 'Baldimore';
    src: local('Baldimore Light Expanded'), url(./Fonts/HelveticaNeueLTStd-LtEx.otf) format('opentype');
    font-weight: 300;
    font-stretch: expanded;
  }


/* Regular */
@font-face {
    font-family: 'Baldimore';
    src: local('Baldimore Regular'), url(./Fonts/HelveticaNeueLTStd-Roman.otf) format('opentype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Baldimore';
    src: local('Baldimore Italic'), url(./Fonts/HelveticaNeueLTStd-It.otf) format('opentype');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'Baldimore';
    src: local('Baldimore Condenced'), url(./Fonts/HelveticaNeueLTStd-Cn.otf) format('opentype');
    font-weight: 400;
    font-stretch: condensed;
  }
  
  @font-face {
    font-family: 'Baldimore';
    src: local('Baldimore Expanded'), url(./Fonts/HelveticaNeueLTStd-Ex.otf) format('opentype');
    font-weight: 400;
    font-stretch: expanded;
  }

    /* medium */
@font-face {
  font-family: 'Baldimore';
  src: local('Baldimore Medium'), url(./Fonts/HelveticaNeueLTStd-Md.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Baldimore';
  src: local('Baldimore Medium Condenced'), url(./Fonts/HelveticaNeueLTStd-MdCn.otf) format('opentype');
  font-weight: 500;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Baldimore';
  src: local('Baldimore Medium Expanded'), url(./Fonts/HelveticaNeueLTStd-MdEx.otf) format('opentype');
  font-weight: 500;
  font-stretch: expanded;
}

  /* bold */
@font-face {
    font-family: 'Baldimore';
    src: local('Baldimore Bold'), url(./Fonts/HelveticaNeueLTStd-Bd.otf) format('opentype');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Baldimore';
    src: local('Baldimore Bold Condenced'), url(./Fonts/HelveticaNeueLTStd-BdCn.otf) format('opentype');
    font-weight: 600;
    font-stretch: condensed;
  }

  @font-face {
    font-family: 'Baldimore';
    src: local('Baldimore Bold Expanded'), url(./Fonts/HelveticaNeueLTStd-BdEx.otf) format('opentype');
    font-weight: 600;
    font-stretch: expanded;
  }

    /* black */
@font-face {
    font-family: 'Baldimore';
    src: local('Baldimore Black'), url(./Fonts/HelveticaNeueLTStd-Hv.otf) format('opentype');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Baldimore';
    src: local('Baldimore Black Condenced'), url(./Fonts/HelveticaNeueLTStd-HvCn.otf) format('opentype');
    font-weight: 700;
    font-stretch: condensed;
  }
  
  @font-face {
    font-family: 'Baldimore';
    src: local('Baldimore Black Expanded'), url(./Fonts/HelveticaNeueLTStd-HvEx.otf) format('opentype');
    font-weight: 700;
    font-stretch: expanded;
  }

      /* ultrablack */
@font-face {
    font-family: 'Baldimore';
    src: local('Baldimore Ultrablack'), url(./Fonts/HelveticaNeueLTStd-Blk.otf) format('opentype');
    font-weight: 800 900;
  }

  @font-face {
    font-family: 'Baldimore';
    src: local('Baldimore Black Condenced'), url(./Fonts/HelveticaNeueLTStd-BlkCn.otf) format('opentype');
    font-weight: 800 900;
    font-stretch: condensed;
  }
  
  @font-face {
    font-family: 'Baldimore';
    src: local('Baldimore Black Expanded'), url(./Fonts/HelveticaNeueLTStd-BlkEx.otf) format('opentype');
    font-weight: 800 900;
    font-stretch: expanded;
  }