@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: 500;
  font-style: normal;
  font-size: 20px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1.5;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

:root {
  --primary: #0053ad;
  --secondary: #cecece;
  --black: #24353f;
}

.btn-warning {
  background-color: #FFA400;
}

body {
  margin: 0;
  font-family:  'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black)!important;
  background-color: var(--primary)!important;
  
}

a {
  text-decoration: none!important;
  color: var(--black)
}


/* .link-articulos a {
  color: var(--black)!important;
} */

.logo-home {
  width: 100px;
}

.bg-primario {
  background-color: var(--primary);
}

.bg-primary {
  background-color: var(--primary)!important;
}

.bg-claro {
  background-color: #f3efea;
}

.color-primario {
  color: var(--primary)
}

.color-grisclaro {
color: #999;
}

.black {
  font-weight: 800;
}

.btn {
  font-weight: 500;
  border-radius: 4px;
  padding: .5rem 1rem;
}

.btn-sm {
  padding: .25rem .5rem;
  font-size: 0.875rem;
}

.btn-light, .btn-warning {
  font-weight: 500;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.active.nav-link{
  background-color: #cfe2ff!important;
  color: var(--black)!important
}

.menu.active{
  background-color: #cfe2ff!important;
  color: var(--black)!important
}

.nav-link {
  color: var(--black)
}

.btn-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
} 

.btn-light:hover {
  background-color: white;
  border-color: white;
} 

/* .btn-secondary {
  background-color: var(--black)!important;
  border-color: var(--black)!important;
  color: var(--secondary)!important;
} */

.text-primary {
  color: var(--primary)
}

.text-gray {
  color: #8a8a8a
}

.badge {
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: .25px;
}

.navbar-tab {
  background-color: rgba(0,0,0,0);
  border: none;
}

.navbar-tab:hover {
  background-color: rgba(0,0,0,0);
  border: none;
  border-radius: 0;
}

.bg-secondary {
  background-color: var(--secondary);
}

li span.material-symbols-outlined {
  font-size: 16px;
}

li button span.material-symbols-outlined{
  margin-right: 0;
  font-size: 18px
}

.form-control{
  border: var(--bs-border-width) solid #aeaeae!important;
}

.form-check-input {
  border: var(--bs-border-width) solid #aeaeae!important;
}

.tipoproducto-preview {
  width: 100px;
}

.producto-preview {
  width: 200px;
}

.texto-14 {
  font-size: 14px;
}

.fondo-imagen {
  background-color: #d3d3d3;
}

.margin-menu {
  top: 180px;
  left: 30px
}

.form-control:focus {
  box-shadow:none;
}

.accordion-button:focus{
  box-shadow:none;
}

.object-fit-cover {
  object-fit: cover;
}

.alto-container {
min-height: 80vh;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;
  background-size: 75% 75%;
}

.carousel-control-next, .carousel-control-prev {
  width: 10%;
}

.carousel-indicators [data-bs-target] {
  background-color: rgba(0,0,0,0.5);
}

.carousel-indicators {
  margin-bottom: 0.5rem;
}

.form-select:focus {
  box-shadow: none;
}


@media (min-width: 768px) {
  .modal {
    --bs-modal-width: 600px;
  }
}

@media (max-width: 768px) {
  .logo-home  {
    width: 80px;
  }
}

.animated-image {
  transform: scale(1.2);
  animation: scale-down 1s ease-out forwards;
}

@keyframes scale-down {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* styles.css */
.card-container {
  opacity: 0;
  transform: translateY(100px);
  animation: slide-up 1s forwards;
}

.card-container:nth-child(1) {
  animation-delay: 0.1s;
}

.card-container:nth-child(2) {
  animation-delay: 0.3s;
}

.card-container:nth-child(3) {
  animation-delay: 0.5s;
}

.card-container:nth-child(4) {
  animation-delay: 0.7s;
}

@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

